.Login {
    background-color: white;
    z-index: 1;
    text-align: center;
    margin: 100px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    justify-content: center;
    flex-direction: row;
    max-width: 500px;
}

.Login-Old {
    text-align: center;
    margin: 100px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    justify-content: center;
    flex-direction: row;
    max-width: 500px;
}

.Login-Wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

@media (min-width: 576px)  {
    .Login-Box {
        background-color: white;
        max-width: 38rem;
        width: 100%;
        border-radius: 1rem;
        padding: 3rem;
        box-shadow: 0 10px 60px #f2f4f5;
    }
}

.Login-logo {
    height: 128px;
    position: center;
    margin: 15px;
}

.Login-Row {
    margin-bottom: 2rem;
    text-align: center;
}

.Login-Input-Wrapper {
    position: relative;
    color: #A8AFB3;
}

.Login-Input-Old {
    flex-wrap: wrap;
    align-items: stretch;
    margin: 15px;
    height: 40px;
    width: 82%;
    background: rgba(250,250,250,1);
    color: rgba(38,38,38,1);
    border-radius: .5rem;
}

.Login-Input {
    width: 82%;
    border: 2px solid #DFE3E6;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 16px;
    background: white;
    transition: border-color .1s ease;
    color: #1C242B;
    height: 40px;
}

.Login-Button {
    color: #fff;
    background-color: #695EE8;
    border-color: #695EE8;
    border-radius: .5rem;
    width: 82%;
    height: 40px;
    margin: 15px;
}